.checked {
    text-decoration: line-through;
    color: lightsalmon;

}

.close {
    cursor: pointer;
    color: blueviolet;

}
body {
    background-color: rgb(240, 240, 240); /* Cor de fundo clara */
    font-family: Arial, sans-serif;
    color: rgb(34, 34, 34); /* Texto escuro */
    padding: 20px;
}

h1 {
    color: rgb(0, 102, 204); /* Título em azul */
}

form {
    margin-bottom: 20px;
}

label {

    font-weight: bold;
    color: rgb(51, 51, 51);
}

input[type="text"] {
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

button {
    background-color: rgb(255, 87, 34);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(255, 69, 0); 
}

fieldset {
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: rgb(0, 51, 102);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px; 
}